<h1>Chartの世界にようこそ！</h1>

<p>ここには Chart.js を使ったグラフが表示されます。</p>

<button class="btn btn-primary btn-sm py-0" onclick="renderChartTest()">Click me</button>

<div class="chart-container" style="position: relative; height:400px; width:600px">
    <canvas id="myChart"></canvas>
</div>